<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>grave</string>
      <string>gravecomb</string>
      <string>grave.case</string>
      <string>gravecomb.case</string>
      <string>acute</string>
      <string>acutecomb</string>
      <string>acute.case</string>
      <string>acutecomb.case</string>
      <string>circumflex</string>
      <string>uni0302</string>
      <string>circumflex.case</string>
      <string>uni0302.case</string>
      <string>tilde</string>
      <string>tildecomb</string>
      <string>tilde.case</string>
      <string>tildecomb.case</string>
      <string>dieresis</string>
      <string>uni0308</string>
      <string>dieresis.case</string>
      <string>uni0308.case</string>
      <string>macron</string>
      <string>uni0304</string>
      <string>macron.case</string>
      <string>uni0304.case</string>
      <string>cedilla</string>
      <string>uni0327</string>
      <string>cedilla.case</string>
      <string>uni0327.case</string>
      <string>ring</string>
      <string>uni030A</string>
      <string>ring.case</string>
      <string>uni030A.case</string>
      <string>caron</string>
      <string>uni030C</string>
      <string>caron.case</string>
      <string>uni030C.case</string>
      <string>breve</string>
      <string>uni0306</string>
      <string>breve.case</string>
      <string>uni0306.case</string>
      <string>dotaccent</string>
      <string>uni0307</string>
      <string>dotaccent.case</string>
      <string>uni0307.case</string>
      <string>ogonek</string>
      <string>uni0328</string>
      <string>ogonek.case</string>
      <string>uni0328.case</string>
      <string>hungarumlaut</string>
      <string>uni030B</string>
      <string>hungarumlaut.case</string>
      <string>uni030B.case</string>
      <string>commaaccent</string>
      <string>uni0326</string>
      <string>commaaccent.case</string>
      <string>uni0326.case</string>
      <string>commaturn</string>
      <string>uni0312</string>
      <string>commaturn.case</string>
      <string>uni0312.case</string>
      <string>caronalt</string>
      <string>dollar</string>
      <string>cent</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>currency</string>
      <string>florin</string>
      <string>eight</string>
      <string>five</string>
      <string>four</string>
      <string>nine</string>
      <string>one</string>
      <string>zero.pnum</string>
      <string>one.pnum</string>
      <string>two.pnum</string>
      <string>three.pnum</string>
      <string>four.pnum</string>
      <string>five.pnum</string>
      <string>six.pnum</string>
      <string>seven.pnum</string>
      <string>eight.pnum</string>
      <string>nine.pnum</string>
      <string>seven</string>
      <string>six</string>
      <string>three</string>
      <string>two</string>
      <string>zero</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>plus</string>
      <string>minus</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>plusminus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>logicalnot</string>
      <string>figurespace</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>degree</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>mu</string>
      <string>trademark</string>
      <string>nbspace</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>softhyphen</string>
      <string>underscore</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>slash</string>
      <string>backslash</string>
      <string>comma</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>section</string>
      <string>paragraph</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>at</string>
      <string>ampersand</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>copyright</string>
      <string>registered</string>
      <string>period</string>
      <string>Oslash</string>
      <string>oslash</string>
      <string>Eth</string>
      <string>eth</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>AE</string>
      <string>ae</string>
      <string>OE</string>
      <string>oe</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>dcroat</string>
      <string>Hbar</string>
      <string>hbar</string>
      <string>Germandbls</string>
      <string>uni25CC</string>
      <string>germandbls</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>Agrave</string>
      <string>Egrave</string>
      <string>Igrave</string>
      <string>Ograve</string>
      <string>Ugrave</string>
      <string>Wgrave</string>
      <string>Ygrave</string>
      <string>agrave</string>
      <string>egrave</string>
      <string>igrave</string>
      <string>ograve</string>
      <string>ugrave</string>
      <string>wgrave</string>
      <string>ygrave</string>
      <string>Aacute</string>
      <string>Eacute</string>
      <string>Iacute</string>
      <string>Oacute</string>
      <string>Uacute</string>
      <string>Yacute</string>
      <string>aacute</string>
      <string>eacute</string>
      <string>iacute</string>
      <string>oacute</string>
      <string>uacute</string>
      <string>yacute</string>
      <string>Cacute</string>
      <string>Lacute</string>
      <string>Nacute</string>
      <string>Racute</string>
      <string>Sacute</string>
      <string>Zacute</string>
      <string>Wacute</string>
      <string>cacute</string>
      <string>lacute</string>
      <string>nacute</string>
      <string>racute</string>
      <string>sacute</string>
      <string>zacute</string>
      <string>wacute</string>
      <string>Acircumflex</string>
      <string>Ecircumflex</string>
      <string>Icircumflex</string>
      <string>Ocircumflex</string>
      <string>Ucircumflex</string>
      <string>Wcircumflex</string>
      <string>Ycircumflex</string>
      <string>acircumflex</string>
      <string>ecircumflex</string>
      <string>icircumflex</string>
      <string>ocircumflex</string>
      <string>ucircumflex</string>
      <string>wcircumflex</string>
      <string>ycircumflex</string>
      <string>Atilde</string>
      <string>Ntilde</string>
      <string>Otilde</string>
      <string>atilde</string>
      <string>ntilde</string>
      <string>otilde</string>
      <string>Adieresis</string>
      <string>Edieresis</string>
      <string>Idieresis</string>
      <string>Odieresis</string>
      <string>Udieresis</string>
      <string>Wdieresis</string>
      <string>Ydieresis</string>
      <string>adieresis</string>
      <string>edieresis</string>
      <string>idieresis</string>
      <string>odieresis</string>
      <string>udieresis</string>
      <string>wdieresis</string>
      <string>ydieresis</string>
      <string>Aring</string>
      <string>Uring</string>
      <string>aring</string>
      <string>uring</string>
      <string>Ccedilla</string>
      <string>ccedilla</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>Ccaron</string>
      <string>Dcaron</string>
      <string>Ecaron</string>
      <string>Ncaron</string>
      <string>Rcaron</string>
      <string>Scaron</string>
      <string>Tcaron</string>
      <string>Zcaron</string>
      <string>ccaron</string>
      <string>ecaron</string>
      <string>ncaron</string>
      <string>rcaron</string>
      <string>scaron</string>
      <string>zcaron</string>
      <string>Amacron</string>
      <string>Emacron</string>
      <string>Imacron</string>
      <string>Umacron</string>
      <string>amacron</string>
      <string>emacron</string>
      <string>imacron</string>
      <string>umacron</string>
      <string>Abreve</string>
      <string>Gbreve</string>
      <string>abreve</string>
      <string>gbreve</string>
      <string>Cdotaccent</string>
      <string>Edotaccent</string>
      <string>Gdotaccent</string>
      <string>Idotaccent</string>
      <string>Zdotaccent</string>
      <string>cdotaccent</string>
      <string>edotaccent</string>
      <string>gdotaccent</string>
      <string>zdotaccent</string>
      <string>Aogonek</string>
      <string>Eogonek</string>
      <string>Iogonek</string>
      <string>Uogonek</string>
      <string>aogonek</string>
      <string>eogonek</string>
      <string>iogonek</string>
      <string>uogonek</string>
      <string>Ohungarumlaut</string>
      <string>Uhungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Gcommaaccent</string>
      <string>Kcommaaccent</string>
      <string>Lcommaaccent</string>
      <string>Ncommaaccent</string>
      <string>Scommaaccent</string>
      <string>Tcommaaccent</string>
      <string>kcommaaccent</string>
      <string>lcommaaccent</string>
      <string>ncommaaccent</string>
      <string>scommaaccent</string>
      <string>tcommaaccent</string>
      <string>gcommaturn</string>
      <string>dcaron</string>
      <string>lcaron</string>
      <string>Lcaron</string>
      <string>tcaron</string>
    </array>
  </dict>
</plist>
